select{
cursor: pointer;
}

#userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px;

}

#userForm input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    font-family: 'Quicksand', sans-serif;
}

#jobForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px; 
}

#jobForm select{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    margin-bottom: 1.5rem;
    margin-top: 3rem
}

#jobForm label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600; 
}

#businessListingForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px; 
}

#businessListingForm select{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    margin-bottom: 1.5rem;
    margin-top: 3rem
}

#businessListingForm label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600; 
}

#industryForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px; 
}

#industryForm input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    font-family: 'Quicksand', sans-serif;   
    margin-top: 3rem
}

#industryForm label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600; 
}

#volunteerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px; 
}

#volunteerForm select{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

#volunteerForm label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600; 
}

#contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px; 
}

#contactForm select{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    margin-bottom: 1.5rem;
    margin-top: 3rem
}

#contactForm label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600; 
}

#businessForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px; 
}

#businessForm input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1.5rem;
    margin-top: 3rem
}

#businessForm label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600; 
}

#businessAddressForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px; 
}

#businessAddressForm input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1.5rem;
    margin-top: 3rem
}

#businessAddressForm label{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600; 
}