@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

select{
cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 13px; 
    background-color: #ffffff;
    padding: 30px;
    border-radius: 7px;
    width: 100%;
}

.mainLabels{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500; 
    text-align: center;
    width: 100%;
}

.genericInputs{
    width: 100%;
    border-radius: 7px;
    border: 1px solid #dddfd6;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.dropdown{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 10px;
}

.industry-container{
    position: relative;
}

.suggestion {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    transform: translateY(-50%); /* Centrar verticalmente */
  }

.industry{
    background-color: transparent;
    z-index: 3;
    font-size: 16px;
}
