@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

select{
cursor: pointer;
}
.mainLabels{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin-top: 1vw;
    font-size: 1.4rem;
    font-weight: 500; 
    text-align: center;
    width: 100%;
}

.genericInputs{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200%;
    height: 200%;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px;
}


#userForm input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
}


#jobForm select{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

#industryForm{
    position: relative;
}

#suggestion{
    width: 100%;
    height: 38px;
    padding: 7px;
    font-family: 'Poppins', sans-serif;   
    z-index: 2;
    top: 42.01%;
    left: 5.25%;
    display: flex;
    align-items: center;
    color: #868686b9;
    position: absolute;
    font-size: 15px;
}

#industryForm input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    background-color: transparent;
    padding: 7px;
    font-family: 'Poppins', sans-serif;   
    margin-top: 1.5rem;
    z-index: 5;
    font-size: 15px;
    /*margin-bottom: 1.5rem;*/
}


@media screen and (max-width: 600px) {
    .input-container{
        width: 80vw;
    }

}

#contactForm select{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #dddfd6;
    padding: 7px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

