/*
1201px and more —  Extra large screens, TV*/
@media (max-width: 1201px) {
   
    .container{
        width: 420px;
    }

    .mainLabels{
        font-size: 17px; 
    }

    .genericInputs{
        font-size: 16px;
    }

    .nextBttn{
        font-size: 17px;
    }

    .dropdown{
        font-size: 16px;
    }

    footer{
        font-size: 12px;
    }

    .suggestion{
        font-size: 16px;
    }

    .radio{
        font-size: 16px;
    }

    #cornerImage{
        width: 290px;
    }

    .thank-you{
        font-size: 25px;
    }

    #countdown-container{
        top:400px;
        text-align: center;
        font-size: 25;
    }
}

@media (max-width: 1025px) {
   
    .form{
        width: 550px;
    }

    .mainLabels{
        font-size: 17px; 
    }

    .genericInputs{
        font-size: 15px;
    }

    .nextBttn{
        font-size: 16px;
    }

    .dropdown{
        font-size: 15px;
    }

    footer{
        font-size: 11px;
    }

    .suggestion{
        font-size: 15px;
    }

    .radio{
        font-size: 15px;
    }

    #cornerImage{
        width: 290px;
    }

    .thank-you{
        font-size: 25px;
    }

    #countdown-container{
        top:400px;
        text-align: center;
        font-size: 25;
    }
}

@media (max-width: 769px) {
   
    .container{
        width: 370px;
    }

    .mainLabels{
        font-size: 16px; 
    }

    .genericInputs{
        font-size: 14px;
    }

    .nextBttn{
        font-size: 15px;
    }

    .dropdown{
        font-size: 14px;
    }

    footer{
        font-size: 8px;
    }

    .suggestion{
        font-size: 14px;
    }

    .radio{
        font-size: 14px;
    }

    #cornerImage{
        width: 220px;
    }

    .thank-you{
        font-size: 24px;
    }

    #countdown-container{
        top:400px;
        text-align: center;
        font-size: 24;
    }
}

@media (max-width: 481px) {
   
    .container{
        width: 300px;
    }

    .mainLabels{
        font-size: 15px; 
    }

    .genericInputs{
        font-size: 12px;
    }

    .nextBttn{
        font-size: 14px;
    }

    .dropdown{
        font-size: 12px;
    }

    footer{
        font-size: 8px;
    }

    .suggestion{
        font-size: 12px;
    }

    .radio{
        font-size: 12px;
    }

    #cornerImage{
        width: 180px;
    }

    .thank-you{
        font-size: 24px;
    }

    #countdown-container{
        top:400px;
        text-align: center;
        font-size: 24;
    }
}

@media (max-width: 320px){
    .supreme-container{
        min-height: 100vh;
        min-width: 100vw;
        align-content: center;
    }
    
    .main{
        margin: 0 auto; 
    }

    .container{
        width: 250px;
    }

    .mainLabels{
        font-size: 13px; 
    }

    .genericInputs{
        font-size: 10px;
    }

    .nextBttn{
        font-size: 11px;
    }

    .dropdown{
        font-size: 10px;
    }

    footer{
        font-size: 10px;
    }

    .suggestion{
        font-size: 10px;

    }

    .radio{
        font-size: 10px;
    }

    #cornerImage{
        width: 150px;
    }

    .thank-you{
        font-size: 18px;
    }

    #countdown-container{
        top:400px;
        text-align: center;
        font-size: 18;
    }
}

@media (max-width: 375px) {
    #cornerImage{
        width: 140px;
    }

    .thank-you{
        font-size: 18px;
    }

    #countdown-container{
        top:340px;
        text-align: center;
        font-size: 18px;
    }
}