
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e6e6fa, #b0c4de);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

/* Button styles */
.nextBttn {   
    align-items: center;
    width: 100%;
    background-color: #33B5FF;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    border-radius: 7px;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e8fd0;
}

/* Thank You Message styles */
.thank-you {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: #316296;
    margin-top: 20px;
}

#cornerImage {
    position: absolute;
    margin: 1em;
    bottom: 10px;
    right: 10px;
    width: 32vw; 
    height: auto; 
}

#countdown-container {
    display: block;
    position: absolute;
    top: 15em;
    left: 15em;
    font-weight: bold;
  }
  

footer {
    text-align: center;
    font-size: 0.8rem; 
    color: gray;
    position: absolute;  
    bottom: 0;
    width: 100%; 
    margin-bottom: 0.3em;
}


