
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;    
}

.supreme-container{
    background: linear-gradient(135deg, #e6e6fa, #b0c4de);
    min-height: 100vh;
    min-width: 100vw;
    align-content: center;
}

.main{
    margin: 0 auto; 
}

/* Button styles */
.nextBttn {   
    align-items: center;
    width: 100%;
    background-color: #33B5FF;
    color: #ffffff;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e8fd0;
}

/* Thank You Message styles */
.thank-you {
    display: inline-block;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #316296;
}

#cornerImage {
    position: absolute;
    margin: 10px;
    bottom: 10px;
    right: 10px;
    width: 300px; 
    height: auto; 
}

#countdown-container {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 440px;
    font-weight: 600;
}
  
footer {
    text-align: center;
    font-size: 10px; 
    color: gray;
    position: absolute;  
    bottom: 0;
    width: 100%; 
    margin: auto;
}


